* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.particles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 0;
}

.particle {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #5c00b3;
    border-radius: 50%;
    opacity: 0.8;
    animation: floatUp linear infinite;
}

.profile-screen {
    position: relative;
}

@keyframes floatUp {
    0% {
        transform: translateY(100vh) scale(1);
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        transform: translateY(-10vh) scale(0.5);
        opacity: 0;
    }
}

.profile-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    background: radial-gradient(circle at top left, #1e1e2f, #12121c);
    color: white;
    font-family: var(--font-principal);
    gap: 20px;
}

.welcome-text {
    font-size: 2rem;
    font-weight: 600;
}

.subtitle {
    font-size: 1rem;
    color: #bbb;
    margin-bottom: 30px;
}

.exit-button {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    height: 40px;
    width: 100px;
    background-color: #282828;
    border: none;
    border-radius: 20px;
    margin: 10px;
    transition: all 0.3s ease-in-out;
}

.exit-button:hover {
    cursor: pointer;
    background-color: #3a3a3a;
    transform: scale(1.1);
}

.exit-button a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}